<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="sign-in-page" data-model-id="844:78426">
      <div class="illustrational-image">
        <div class="overlap">
          <div class="pattern">
            <div class="overlap-group">
              <img class="polygon" src="img/polygon-11.svg" />
              <img class="img" src="img/polygon-13.svg" />
              <img class="polygon-2" src="img/polygon-12.svg" />
            </div>
          </div>
          <p class="text-wrapper">Start closing more revenue with Venture</p>
          <div class="companies">
            <div class="company-logo"><img class="vector" src="img/image.svg" /></div>
            <div class="div">
              <img class="vector-2" src="img/vector-1.svg" /> <img class="vector-3" src="img/vector-2.svg" />
            </div>
            <div class="company-logo-2">
              <img class="vector-4" src="img/vector-3-2.svg" />
              <img class="vector-5" src="img/vector-4.svg" />
              <img class="vector-6" src="img/vector-5.svg" />
              <img class="vector-7" src="img/vector-6.svg" />
              <img class="vector-8" src="img/vector-7.svg" />
              <img class="vector-9" src="img/vector-8.svg" />
            </div>
            <div class="company-logo-3">
              <img class="vector-10" src="img/vector-9.svg" />
              <img class="vector-11" src="img/vector-10.svg" />
              <img class="vector-12" src="img/vector-11.svg" />
              <img class="vector-13" src="img/vector-12.svg" />
              <img class="vector-14" src="img/vector-13.svg" />
            </div>
            <div class="vector-wrapper"><img class="vector-15" src="img/vector.svg" /></div>
            <div class="img-wrapper"><img class="vector-16" src="img/vector-3.svg" /></div>
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
          </div>
          <p class="p">Join Venture now to expand your revenue for future!</p>
          <div class="illustration">
            <div class="overlap-2">
              <div class="tasks-kanban">
                <div class="overlap-3">
                  <div class="content">
                    <div class="header-top-header">
                      <div class="search-bar">
                        <div class="div-2">
                          <img class="img-2" src="img/icon-magnifyingglass.svg" />
                          <div class="text-wrapper-2">Search</div>
                        </div>
                        <div class="div-3">
                          <div class="frame"><img class="img-3" src="img/icon-command.svg" /></div>
                          <div class="frame"><div class="text-wrapper-3">F</div></div>
                        </div>
                      </div>
                      <div class="frame-2">
                        <div class="navigation-sidebar">
                          <div class="content-2">
                            <img class="img-2" src="img/icon-question.svg" />
                            <div class="title">Help Center</div>
                          </div>
                        </div>
                        <div class="div-2">
                          <div class="frame-3"></div>
                          <div class="text-wrapper-4">Brian F.</div>
                          <img class="img-3" src="img/icon-caretdown.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="header-section">
                      <div class="content-3">
                        <div class="div-4"><div class="title-2">Task</div></div>
                        <div class="tab-outline-tabs">
                          <div class="tab-outline-menu">
                            <img class="img-2" src="img/icon-list.svg" />
                            <div class="title-3">List</div>
                          </div>
                          <div class="tab-outline-menu-2">
                            <img class="img-2" src="img/icon-kanban.svg" />
                            <div class="title-4">Kanban</div>
                          </div>
                          <div class="tab-outline-menu">
                            <img class="img-2" src="img/icon-table.svg" />
                            <div class="title-3">Table</div>
                          </div>
                        </div>
                      </div>
                      <div class="div-4">
                        <div class="buttons">
                          <img class="img-3" src="img/icon-funnelsimple.svg" />
                          <div class="placeholder">Sort By</div>
                        </div>
                        <button class="button">
                          <img class="img-3" src="img/icon-funnel.svg" />
                          <div class="placeholder">Filter</div>
                        </button>
                        <div class="separator"></div>
                        <div class="buttons-2">
                          <img class="img-3" src="img/icon-plus.svg" />
                          <div class="placeholder-2">Add Task</div>
                        </div>
                      </div>
                    </div>
                    <div class="content-4">
                      <div class="div-5">
                        <div class="content-wrapper">
                          <div class="div-3">
                            <div class="ellipse"></div>
                            <div class="content-5">
                              <div class="text-wrapper-5">Planned</div>
                              <div class="text-wrapper-6">3 open tasks</div>
                            </div>
                          </div>
                        </div>
                        <div class="content-6">
                          <div class="buttons-3">
                            <img class="img-3" src="img/icon-plus-1.svg" />
                            <div class="text-wrapper-7">Create Task</div>
                          </div>
                          <div class="cards-ta***REMOVED***">
                            <div class="div-6">
                              <div class="badge">
                                <div class="badge-2"><div class="badge-3">Internal</div></div>
                                <div class="badge-4"><div class="badge-5">Marketing</div></div>
                                <div class="badge-6"><div class="badge-7">Urgent</div></div>
                              </div>
                              <img class="more" src="img/more.svg" />
                            </div>
                            <div class="content-7">
                              <div class="text-wrapper-8">Monthly Product Discussion</div>
                              <div class="div-7">
                                <div class="div-3">
                                  <img class="img-3" src="img/date.svg" />
                                  <p class="text-wrapper-9">Due Date 24 Jan 2023</p>
                                </div>
                                <div class="div-8">
                                  <img class="img-3" src="img/checklist.svg" />
                                  <div class="text-wrapper-9">10/124</div>
                                </div>
                              </div>
                              <div class="div-6">
                                <div class="member">
                                  <div class="member-2"></div>
                                  <div class="member-3"></div>
                                  <div class="member-4"></div>
                                  <div class="member-5"></div>
                                </div>
                                <div class="div-2">
                                  <div class="div-8">
                                    <img class="img-3" src="img/attachment.svg" />
                                    <div class="text-wrapper-9">5</div>
                                  </div>
                                  <div class="div-8">
                                    <img class="img-3" src="img/chat.svg" />
                                    <div class="text-wrapper-9">19</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cards-ta***REMOVED***">
                            <div class="div-6">
                              <div class="badge">
                                <div class="badge-4"><div class="badge-5">Marketing</div></div>
                                <div class="badge-8"><div class="badge-9">Event</div></div>
                                <div class="badge-6"><div class="badge-7">Urgent</div></div>
                              </div>
                              <img class="more" src="img/more-1.svg" />
                            </div>
                            <div class="content-7">
                              <p class="text-wrapper-8">Update New Social Media Post</p>
                              <div class="div-7">
                                <div class="div-3">
                                  <img class="img-3" src="img/date-1.svg" />
                                  <p class="text-wrapper-9">Due Date 18 Jan 2023</p>
                                </div>
                                <div class="div-8">
                                  <img class="img-3" src="img/checklist-1.svg" />
                                  <div class="text-wrapper-9">12/52</div>
                                </div>
                              </div>
                              <div class="div-6">
                                <div class="member">
                                  <div class="member-6"></div>
                                  <div class="member-7"></div>
                                  <div class="member-8"></div>
                                </div>
                                <div class="div-2">
                                  <div class="div-8">
                                    <img class="img-3" src="img/attachment-1.svg" />
                                    <div class="text-wrapper-9">1</div>
                                  </div>
                                  <div class="div-8">
                                    <img class="img-3" src="img/chat-1.svg" />
                                    <div class="text-wrapper-9">1</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cards-ta***REMOVED***-2">
                            <div class="div-6">
                              <div class="badge">
                                <div class="badge-2"><div class="badge-3">Internal</div></div>
                                <div class="badge-10"><div class="badge-11">Document</div></div>
                                <div class="badge-4"><div class="badge-5">Marketing</div></div>
                              </div>
                              <img class="more" src="img/more-2.svg" />
                            </div>
                            <div class="content-7">
                              <p class="text-wrapper-8">Input Data for Monthly Sales Revenue</p>
                              <div class="div-7">
                                <div class="div-3">
                                  <img class="img-3" src="img/date-2.svg" />
                                  <p class="text-wrapper-9">Due Date 31 Jan 2023</p>
                                </div>
                                <div class="div-8">
                                  <img class="img-3" src="img/checklist-2.svg" />
                                  <div class="text-wrapper-9">4/5</div>
                                </div>
                              </div>
                              <div class="div-6">
                                <div class="member">
                                  <div class="member-9"></div>
                                  <div class="member-10"></div>
                                </div>
                                <div class="div-2">
                                  <div class="div-8">
                                    <img class="img-3" src="img/attachment-2.svg" />
                                    <div class="text-wrapper-9">2</div>
                                  </div>
                                  <div class="div-8">
                                    <img class="img-3" src="img/chat-2.svg" />
                                    <div class="text-wrapper-9">0</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="div-5">
                        <div class="title-5">
                          <div class="ellipse-2"></div>
                          <div class="content-5">
                            <div class="text-wrapper-5">Upcoming</div>
                            <div class="text-wrapper-6">5 open tasks</div>
                          </div>
                        </div>
                        <div class="content-6">
                          <div class="buttons-3">
                            <img class="img-3" src="img/icon-plus-2.svg" />
                            <div class="text-wrapper-7">Create Task</div>
                          </div>
                          <div class="cards-ta***REMOVED***">
                            <div class="div-6">
                              <div class="badge">
                                <div class="badge-12"><div class="badge-13">Report</div></div>
                                <div class="badge-8"><div class="badge-9">Event</div></div>
                                <div class="badge-6"><div class="badge-7">Urgent</div></div>
                              </div>
                              <img class="more" src="img/more-3.svg" />
                            </div>
                            <div class="content-7">
                              <p class="text-wrapper-8">Create Monthly Revenue Recap for All Product Linear</p>
                              <div class="div-7">
                                <div class="div-3">
                                  <img class="img-3" src="img/date-3.svg" />
                                  <p class="text-wrapper-9">Due Date 11 Jan 2023</p>
                                </div>
                                <div class="div-8">
                                  <img class="img-3" src="img/checklist-3.svg" />
                                  <div class="text-wrapper-9">4/12</div>
                                </div>
                              </div>
                              <div class="div-6">
                                <div class="member">
                                  <div class="member-11"></div>
                                  <div class="member-12"></div>
                                </div>
                                <div class="div-2">
                                  <div class="div-8">
                                    <img class="img-3" src="img/attachment-3.svg" />
                                    <div class="text-wrapper-9">0</div>
                                  </div>
                                  <div class="div-8">
                                    <img class="img-3" src="img/chat-3.svg" />
                                    <div class="text-wrapper-9">1</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cards-ta***REMOVED***">
                            <div class="div-6">
                              <div class="badge">
                                <div class="badge-12"><div class="badge-13">Report</div></div>
                                <div class="badge-10"><div class="badge-11">Document</div></div>
                                <div class="badge-4"><div class="badge-5">Marketing</div></div>
                              </div>
                              <img class="more" src="img/more-4.svg" />
                            </div>
                            <div class="content-7">
                              <p class="text-wrapper-8">Uploading New Items to Marketplace</p>
                              <div class="div-7">
                                <div class="div-3">
                                  <img class="img-3" src="img/date-4.svg" />
                                  <p class="text-wrapper-9">Due Date 09 Jan 2023</p>
                                </div>
                                <div class="div-8">
                                  <img class="img-3" src="img/checklist-4.svg" />
                                  <div class="text-wrapper-9">12/64</div>
                                </div>
                              </div>
                              <div class="div-6">
                                <div class="member">
                                  <div class="member-13"></div>
                                  <div class="member-14"></div>
                                  <div class="member-15"></div>
                                </div>
                                <div class="div-2">
                                  <div class="div-8">
                                    <img class="img-3" src="img/attachment-4.svg" />
                                    <div class="text-wrapper-9">1</div>
                                  </div>
                                  <div class="div-8">
                                    <img class="img-3" src="img/chat-4.svg" />
                                    <div class="text-wrapper-9">23</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cards-ta***REMOVED***-3">
                            <div class="div-6">
                              <div class="badge-14">
                                <div class="badge-2"><div class="badge-3">Internal</div></div>
                                <div class="badge-4"><div class="badge-5">Marketing</div></div>
                                <div class="badge-6"><div class="badge-7">Urgent</div></div>
                              </div>
                              <img class="more-2" src="img/more-5.svg" />
                            </div>
                            <div class="content-7">
                              <div class="text-wrapper-8">Monthly Product Discussion</div>
                              <div class="div-7">
                                <div class="date">
                                  <img class="img-3" src="img/date-5.svg" />
                                  <p class="text-wrapper-9">Due Date 12 Jan 2023</p>
                                </div>
                                <div class="checklist">
                                  <img class="img-3" src="img/checklist-5.svg" />
                                  <div class="text-wrapper-9">3/4</div>
                                </div>
                              </div>
                              <div class="div-6">
                                <div class="member">
                                  <div class="member-16"></div>
                                  <div class="member-17"></div>
                                  <div class="member-18"></div>
                                  <div class="member-19"></div>
                                </div>
                                <div class="content-8">
                                  <div class="div-8">
                                    <img class="img-3" src="img/attachment-5.svg" />
                                    <div class="text-wrapper-9">2</div>
                                  </div>
                                  <div class="div-8">
                                    <img class="img-3" src="img/chat-5.svg" />
                                    <div class="text-wrapper-9">51</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cards-ta***REMOVED***-3">
                            <div class="div-6">
                              <div class="badge-15">
                                <div class="badge-4"><div class="badge-5">Marketing</div></div>
                                <div class="badge-8"><div class="badge-9">Event</div></div>
                                <div class="badge-6"><div class="badge-7">Urgent</div></div>
                              </div>
                              <img class="more-3" src="img/more-6.svg" />
                            </div>
                            <div class="content-7">
                              <p class="text-wrapper-8">Update New Social Media Post</p>
                              <div class="div-7">
                                <div class="date">
                                  <img class="date-2" src="img/date-2.png" />
                                  <p class="text-wrapper-9">Due Date 15 Jan 2023</p>
                                </div>
                                <div class="checklist-2">
                                  <img class="checklist-3" src="img/checklist-2.png" />
                                  <div class="text-wrapper-9">0/12</div>
                                </div>
                              </div>
                              <div class="div-6">
                                <div class="member">
                                  <div class="member-20"></div>
                                  <div class="member-21"></div>
                                  <div class="member-21"></div>
                                  <div class="member-21"></div>
                                </div>
                                <div class="content-9">
                                  <div class="div-8">
                                    <img class="attachment" src="img/attachment.png" />
                                    <div class="text-wrapper-9">4</div>
                                  </div>
                                  <div class="div-8">
                                    <img class="chat" src="img/image.png" />
                                    <div class="text-wrapper-9">3</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cards-ta***REMOVED***-4">
                            <div class="div-6">
                              <div class="badge-15">
                                <div class="badge-4"><div class="badge-5">Marketing</div></div>
                                <div class="badge-8"><div class="badge-9">Event</div></div>
                                <div class="badge-6"><div class="badge-7">Urgent</div></div>
                              </div>
                              <img class="more-4" src="img/more.png" />
                            </div>
                            <div class="content-7">
                              <p class="text-wrapper-8">Input Data for Monthly Sales Revenue</p>
                              <div class="div-7">
                                <div class="date">
                                  <img class="date-3" src="img/date.png" />
                                  <p class="text-wrapper-9">Due Date 15 Jan 2023</p>
                                </div>
                                <div class="checklist">
                                  <img class="checklist-4" src="img/checklist.png" />
                                  <div class="text-wrapper-9">3/4</div>
                                </div>
                              </div>
                              <div class="div-6">
                                <div class="member">
                                  <div class="member-20"></div>
                                  <div class="member-21"></div>
                                  <div class="member-21"></div>
                                  <div class="member-21"></div>
                                </div>
                                <div class="content-10">
                                  <div class="div-8">
                                    <img class="attachment-2" src="img/attachment-2.png" />
                                    <div class="text-wrapper-9">1</div>
                                  </div>
                                  <div class="div-8">
                                    <img class="chat-2" src="img/chat.png" />
                                    <div class="text-wrapper-9">15</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="div-5">
                        <div class="title-5">
                          <div class="ellipse-3"></div>
                          <div class="content-5">
                            <div class="text-wrapper-5">Completed</div>
                            <div class="text-wrapper-6">2 completed tasks</div>
                          </div>
                        </div>
                        <div class="content-6">
                          <div class="buttons-3">
                            <img class="img-3" src="img/icon-plus-3.svg" />
                            <div class="text-wrapper-7">Create Task</div>
                          </div>
                          <div class="cards-ta***REMOVED***">
                            <div class="div-6">
                              <div class="badge">
                                <div class="badge-12"><div class="badge-13">Report</div></div>
                                <div class="badge-10"><div class="badge-11">Document</div></div>
                                <div class="badge-4"><div class="badge-5">Marketing</div></div>
                              </div>
                              <img class="more" src="img/more-7.svg" />
                            </div>
                            <div class="content-7">
                              <p class="text-wrapper-8">Uploading New Items to Marketplace</p>
                              <div class="div-7">
                                <div class="div-3">
                                  <img class="img-3" src="img/date-6.svg" />
                                  <p class="text-wrapper-9">Due Date 09 Jan 2023</p>
                                </div>
                                <div class="div-8">
                                  <img class="img-3" src="img/checklist-6.svg" />
                                  <div class="text-wrapper-9">2/15</div>
                                </div>
                              </div>
                              <div class="div-6">
                                <div class="member">
                                  <div class="member-22"></div>
                                  <div class="member-23"></div>
                                </div>
                                <div class="div-2">
                                  <div class="div-8">
                                    <img class="img-3" src="img/attachment-6.svg" />
                                    <div class="text-wrapper-9">12</div>
                                  </div>
                                  <div class="div-8">
                                    <img class="img-3" src="img/chat-6.svg" />
                                    <div class="text-wrapper-9">1</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="cards-ta***REMOVED***-2">
                            <div class="div-6">
                              <div class="badge">
                                <div class="badge-2"><div class="badge-3">Internal</div></div>
                                <div class="badge-10"><div class="badge-11">Document</div></div>
                                <div class="badge-4"><div class="badge-5">Marketing</div></div>
                              </div>
                              <img class="more" src="img/more-8.svg" />
                            </div>
                            <div class="content-7">
                              <p class="text-wrapper-8">Input Data for Monthly Sales Revenue</p>
                              <div class="div-7">
                                <div class="div-3">
                                  <img class="img-3" src="img/date-7.svg" />
                                  <p class="text-wrapper-9">Due Date 13 Jan 2023</p>
                                </div>
                                <div class="div-8">
                                  <img class="img-3" src="img/checklist-7.svg" />
                                  <div class="text-wrapper-9">1/53</div>
                                </div>
                              </div>
                              <div class="div-6">
                                <div class="member">
                                  <div class="member-24"></div>
                                  <div class="member-25"></div>
                                </div>
                                <div class="div-2">
                                  <div class="div-8">
                                    <img class="img-3" src="img/attachment-7.svg" />
                                    <div class="text-wrapper-9">2</div>
                                  </div>
                                  <div class="div-8">
                                    <img class="img-3" src="img/chat-7.svg" />
                                    <div class="text-wrapper-9">21</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="navigation-sidebar-2">
                    <div class="div-9">
                      <div class="logo">
                        <div class="div-2">
                          <div class="logogram">
                            <div class="overlap-group-2">
                              <img class="polygon-3" src="img/polygon-13-1.svg" />
                              <img class="polygon-4" src="img/polygon-14.svg" />
                            </div>
                          </div>
                          <div class="text-wrapper-10">Venture</div>
                        </div>
                        <div class="slider"><img class="img-2" src="img/caretdoublehorizontal.svg" /></div>
                      </div>
                      <div class="div-9">
                        <div class="menu">
                          <div class="navigation-sidebar-3">
                            <div class="content-2">
                              <img class="img-2" src="img/icon-chartpie.svg" />
                              <div class="title-6">Dashboard</div>
                            </div>
                          </div>
                          <div class="navigation-sidebar-3">
                            <div class="content-2">
                              <img class="img-2" src="img/icon-bell.svg" />
                              <div class="title-6">Notifications</div>
                            </div>
                          </div>
                          <div class="navigation-sidebar-3">
                            <div class="content-2">
                              <img class="img-2" src="img/icon-noteblank.svg" />
                              <div class="title-6">Notes</div>
                            </div>
                          </div>
                          <div class="navigation-sidebar-4">
                            <div class="content-2">
                              <img class="img-2" src="img/icon-clipboardtext.svg" />
                              <div class="title-7">Tasks</div>
                            </div>
                          </div>
                          <div class="navigation-sidebar-3">
                            <div class="content-2">
                              <img class="img-2" src="img/icon-envelope.svg" />
                              <div class="title-6">Emails</div>
                            </div>
                            <img class="img-3" src="img/icon-caretdown-1.svg" />
                          </div>
                          <div class="navigation-sidebar-3">
                            <div class="content-2">
                              <img class="img-2" src="img/icon-calendar.svg" />
                              <div class="title-6">Calendars</div>
                            </div>
                          </div>
                        </div>
                        <img class="separator-2" src="img/separator.svg" />
                        <div class="menu-2">
                          <div class="div-wrapper"><div class="text-wrapper-11">DATABASE</div></div>
                          <div class="frame-4">
                            <div class="navigation-sidebar-3">
                              <div class="content-2">
                                <img class="img-2" src="img/chartlineup.svg" />
                                <div class="title-6">Analytics</div>
                              </div>
                            </div>
                            <div class="navigation-sidebar-3">
                              <div class="content-2">
                                <img class="img-2" src="img/addressbook.svg" />
                                <div class="title-6">Contacts</div>
                              </div>
                            </div>
                            <div class="navigation-sidebar-3">
                              <div class="content-2">
                                <img class="img-2" src="img/icon-briefcase.svg" />
                                <div class="title-6">Companies</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <img class="separator-3" src="img/separator-1.svg" />
                      </div>
                      <div class="container">
                        <div class="menu-3">
                          <div class="navigation-sidebar-3">
                            <div class="content-2">
                              <img class="img-2" src="img/icon-squaresfour.svg" />
                              <div class="title-6">Integrations</div>
                            </div>
                          </div>
                          <div class="navigation-sidebar-3">
                            <div class="content-2">
                              <img class="img-2" src="img/icon-gear.svg" />
                              <div class="title-6">Settings</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="content-11">
                      <div class="div-2">
                        <div class="profile"><div class="text-wrapper-12">M</div></div>
                        <div class="text-wrapper-7">Marketing Team’s</div>
                      </div>
                      <img class="img-2" src="img/icon-caretdoublevertical.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="shadow"></div>
              <div class="upcoming">
                <div class="title-5">
                  <div class="ellipse-2"></div>
                  <div class="content-5">
                    <div class="text-wrapper-5">Upcoming</div>
                    <div class="text-wrapper-6">5 open tasks</div>
                  </div>
                </div>
                <div class="content-6">
                  <div class="buttons-4">
                    <img class="img-3" src="img/icon-plus-4.svg" />
                    <div class="text-wrapper-7">Create Task</div>
                  </div>
                  <div class="cards-ta***REMOVED***-5">
                    <div class="div-6">
                      <div class="badge">
                        <div class="badge-12"><div class="badge-13">Report</div></div>
                        <div class="badge-8"><div class="badge-9">Event</div></div>
                        <div class="badge-6"><div class="badge-7">Urgent</div></div>
                      </div>
                      <img class="more" src="img/more-9.svg" />
                    </div>
                    <div class="content-7">
                      <p class="text-wrapper-8">Create Monthly Revenue Recap for All Product Linear</p>
                      <div class="div-7">
                        <div class="div-3">
                          <img class="img-3" src="img/date-8.svg" />
                          <p class="text-wrapper-9">Due Date 11 Jan 2023</p>
                        </div>
                        <div class="div-8">
                          <img class="img-3" src="img/checklist-8.svg" />
                          <div class="text-wrapper-9">4/12</div>
                        </div>
                      </div>
                      <div class="div-6">
                        <div class="member">
                          <div class="member-26"></div>
                          <div class="member-27"></div>
                        </div>
                        <div class="div-2">
                          <div class="div-8">
                            <img class="img-3" src="img/attachment-8.svg" />
                            <div class="text-wrapper-9">0</div>
                          </div>
                          <div class="div-8">
                            <img class="img-3" src="img/chat-8.svg" />
                            <div class="text-wrapper-9">1</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cards-ta***REMOVED***-5">
                    <div class="div-6">
                      <div class="badge">
                        <div class="badge-12"><div class="badge-13">Report</div></div>
                        <div class="badge-10"><div class="badge-11">Document</div></div>
                        <div class="badge-4"><div class="badge-5">Marketing</div></div>
                      </div>
                      <img class="more" src="img/more-10.svg" />
                    </div>
                    <div class="content-7">
                      <p class="text-wrapper-8">Uploading New Items to Marketplace</p>
                      <div class="div-7">
                        <div class="div-3">
                          <img class="img-3" src="img/date-9.svg" />
                          <p class="text-wrapper-9">Due Date 09 Jan 2023</p>
                        </div>
                        <div class="div-8">
                          <img class="img-3" src="img/checklist-9.svg" />
                          <div class="text-wrapper-9">12/64</div>
                        </div>
                      </div>
                      <div class="div-6">
                        <div class="member">
                          <div class="member-28"></div>
                          <div class="member-29"></div>
                          <div class="member-30"></div>
                        </div>
                        <div class="div-2">
                          <div class="div-8">
                            <img class="img-3" src="img/attachment-9.svg" />
                            <div class="text-wrapper-9">1</div>
                          </div>
                          <div class="div-8">
                            <img class="img-3" src="img/chat-9.svg" />
                            <div class="text-wrapper-9">23</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cards-ta***REMOVED***-5">
                    <div class="div-6">
                      <div class="badge">
                        <div class="badge-2"><div class="badge-3">Internal</div></div>
                        <div class="badge-4"><div class="badge-5">Marketing</div></div>
                        <div class="badge-6"><div class="badge-7">Urgent</div></div>
                      </div>
                      <img class="more" src="img/more-11.svg" />
                    </div>
                    <div class="content-7">
                      <div class="text-wrapper-8">Monthly Product Discussion</div>
                      <div class="div-7">
                        <div class="div-3">
                          <img class="img-3" src="img/date-10.svg" />
                          <p class="text-wrapper-9">Due Date 12 Jan 2023</p>
                        </div>
                        <div class="div-8">
                          <img class="img-3" src="img/checklist-10.svg" />
                          <div class="text-wrapper-9">3/4</div>
                        </div>
                      </div>
                      <div class="div-6">
                        <div class="member">
                          <div class="member-31"></div>
                          <div class="member-32"></div>
                          <div class="member-33"></div>
                          <div class="member-34"></div>
                        </div>
                        <div class="div-2">
                          <div class="div-8">
                            <img class="img-3" src="img/attachment-10.svg" />
                            <div class="text-wrapper-9">2</div>
                          </div>
                          <div class="div-8">
                            <img class="img-3" src="img/chat-10.svg" />
                            <div class="text-wrapper-9">51</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cards-ta***REMOVED***-5">
                    <div class="div-6">
                      <div class="badge">
                        <div class="badge-4"><div class="badge-5">Marketing</div></div>
                        <div class="badge-8"><div class="badge-9">Event</div></div>
                        <div class="badge-6"><div class="badge-7">Urgent</div></div>
                      </div>
                      <img class="more" src="img/more-12.svg" />
                    </div>
                    <div class="content-7">
                      <p class="text-wrapper-8">Update New Social Media Post</p>
                      <div class="div-7">
                        <div class="div-3">
                          <img class="img-3" src="img/date-11.svg" />
                          <p class="text-wrapper-9">Due Date 15 Jan 2023</p>
                        </div>
                        <div class="div-8">
                          <img class="img-3" src="img/checklist-11.svg" />
                          <div class="text-wrapper-9">0/12</div>
                        </div>
                      </div>
                      <div class="div-6">
                        <div class="member">
                          <div class="member-35"></div>
                          <div class="member-36"></div>
                          <div class="member-37"></div>
                          <div class="member-38"></div>
                        </div>
                        <div class="div-2">
                          <div class="div-8">
                            <img class="img-3" src="img/attachment-11.svg" />
                            <div class="text-wrapper-9">4</div>
                          </div>
                          <div class="div-8">
                            <img class="img-3" src="img/chat-11.svg" />
                            <div class="text-wrapper-9">3</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cards-ta***REMOVED***-6">
                    <div class="div-6">
                      <div class="badge">
                        <div class="badge-4"><div class="badge-5">Marketing</div></div>
                        <div class="badge-8"><div class="badge-9">Event</div></div>
                        <div class="badge-6"><div class="badge-7">Urgent</div></div>
                      </div>
                      <img class="more" src="img/more-13.svg" />
                    </div>
                    <div class="content-7">
                      <p class="text-wrapper-8">Input Data for Monthly Sales Revenue</p>
                      <div class="div-7">
                        <div class="div-3">
                          <img class="img-3" src="img/date-12.svg" />
                          <p class="text-wrapper-9">Due Date 15 Jan 2023</p>
                        </div>
                        <div class="div-8">
                          <img class="img-3" src="img/checklist-12.svg" />
                          <div class="text-wrapper-9">3/4</div>
                        </div>
                      </div>
                      <div class="div-6">
                        <div class="member">
                          <div class="member-39"></div>
                          <div class="member-40"></div>
                          <div class="member-41"></div>
                          <div class="member-42"></div>
                        </div>
                        <div class="div-2">
                          <div class="div-8">
                            <img class="img-3" src="img/attachment-12.svg" />
                            <div class="text-wrapper-9">1</div>
                          </div>
                          <div class="div-8">
                            <img class="img-3" src="img/chat-12.svg" />
                            <div class="text-wrapper-9">15</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="shadow-2"></div>
            </div>
            <div class="ta***REMOVED***">
              <div class="div-7">
                <div class="text-wrapper-13">Enter Task Name</div>
                <img class="icon-x" src="img/icon-x.svg" />
              </div>
              <img class="separator-2" src="img/separator-2.svg" />
              <div class="content-12">
                <div class="content-13">
                  <div class="members">
                    <div class="text-wrapper-14">Add Members</div>
                    <div class="buttons-5"><img class="icon-userplus" src="img/icon-userplus.svg" /></div>
                  </div>
                  <div class="labels">
                    <div class="text-wrapper-14">Add Labels</div>
                    <div class="buttons-5"><img class="img-4" src="img/icon-tag.svg" /></div>
                  </div>
                  <div class="date-picker">
                    <div class="label"><div class="input-label">Due Date</div></div>
                    <div class="input-base">
                      <img class="icon-calendar" src="img/icon-calendar-1.svg" />
                      <div class="select-date-range">Select Date</div>
                      <img class="icon-arrow-down" src="img/icon-arrow-down.svg" />
                    </div>
                  </div>
                </div>
                <div class="div-10">
                  <div class="label"><div class="input-label-2">Description</div></div>
                  <div class="input-base-2">
                    <div class="enter-your-title">Enter your description here</div>
                    <div class="text-wrapper-15">0/50</div>
                  </div>
                </div>
                <div class="checklist-5">
                  <div class="text-field">
                    <div class="label"><div class="input-label-3">Task Checklist</div></div>
                  </div>
                  <div class="buttons-5"><img class="img-4" src="img/icon-listcheck.svg" /></div>
                </div>
                <div class="div-10">
                  <div class="text-wrapper-16">Attachment</div>
                  <div class="upload-files-modal">
                    <img class="icon-image" src="img/icon-image.svg" />
                    <p class="text-wrapper-17">Drag files here or Browse</p>
                  </div>
                </div>
              </div>
              <div class="buttons-6"><div class="placeholder-3">Create Task</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-14">
        <div class="content-15">
          <div class="frame-5">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-3">
                <img class="polygon-5" src="img/polygon-13-2.svg" />
                <img class="polygon-6" src="img/polygon-14-1.svg" />
              </div>
            </div>
            <div class="text-wrapper-18">Venture</div>
          </div>
          <div class="headline">
            <div class="text-wrapper-19">Welcome back!</div>
            <div class="text-wrapper-20">Please Login to Continue</div>
          </div>
          <div class="form">
            <div class="textfield">
              <div class="text-field-2">
                <div class="label"><div class="input-label-4">Email Address</div></div>
                <div class="input-base-3"><div class="enter-your-title-2">Enter your email here</div></div>
              </div>
              <div class="text-field-2">
                <div class="label"><div class="input-label-4">Password</div></div>
                <div class="input-base-3">
                  <div class="enter-your-title-2">Enter your password here</div>
                  <img class="icon-eye" src="img/icon-eye.svg" />
                </div>
              </div>
              <div class="div-6">
                <div class="frame-6">
                  <div class="checkbox"><div class="rounded-rectangle"></div></div>
                  <div class="text-wrapper-21">Remember Me</div>
                </div>
                <div class="text-wrapper-22">Forgot Password?</div>
              </div>
            </div>
            <div class="button-2">
              <div class="buttons-7"><div class="placeholder-4">Sign In</div></div>
              <div class="buttons-8">
                <img class="brand-logos" src="img/brand-logos.svg" />
                <div class="placeholder-5">Sign In with Google</div>
              </div>
              <div class="frame-7">
                <p class="text-wrapper-23">Don’t you have an acount?</p>
                <div class="text-wrapper-22">Sign Up</div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-wrapper-24">©2023 Venture. All rights reserved</p>
      </div>
    </div>
  </body>
</html>
